---
layout: default
---
<article class="post">

  <h1 class="post-title">{{ page.title }}</h1>

  <p class="post-meta">
    <time datetime="{{ page.date | date: "%Y-%m-%d" }}">{{ page.date | date: "%d-%m-%Y" }}</time>

    {% if page.author %}
      &nbsp;/&nbsp;
      <span>{{ page.author }}</span>
    {% endif %}
  </p>

  <div class="post-content">

    {{ content }}
<div class="share-page">
  <br/>
  <span class="fa-stack fa-lg">
        <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Facebook">
            {% icon fa-square-o fa-stack-2x %}
            {% icon fa-facebook fa-stack-1x %}
        </a>
          </span>

  <span class="fa-stack fa-lg"><a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}"
      rel="nofollow" target="_blank" title="Share on Twitter">
            {% icon fa-square-o fa-stack-2x %}
            {% icon fa-twitter fa-stack-1x %}
        </a>
          </span>
  <span class="fa-stack fa-lg">
    <a href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}" rel="nofollow" target="_blank" title="Share on Google+">
            {% icon fa-square-o fa-stack-2x %}
            {% icon fa-google-plus fa-stack-1x %}
        </a>
          </span>
    </div>
    </ul>
    <div class="post-links">
      {% if page.next.url %}
        <a class="link-to-post" href="{{ page.next.url }}">
          <span class="link-to-post__next">&#10535; &nbsp;Next post</span>
          <span class="link-to-post__title">{{ page.next.title }}</span>
        </a>
      {% endif %}

      {% if page.previous.url %}
        <a class="link-to-post" href="{{ page.previous.url }}">
          <span class="link-to-post__prev">&#10535; &nbsp;Previous post</span>
          <span class="link-to-post__title">{{ page.previous.title }}</span>
        </a>
      {% endif %}
    </div>

  </div>

</article>
